<%= month_calendar events: @events do |date, events| %>
    <%= date.day %>

    <% events.each do |events| %>
      <% if user_signed_in? && events.user_id == current_user.id %>
        <div>
          <%= link_to events.title, event_path(events.id) %>
        </div>
      <% end %>
    <% end %>
    
<% end %>

<h3>各時間</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">開始時間</th>
      <th scope="col">退勤時間</th>
      <th scope="col">事務時間(分)</th>
      <th scope="col">授業時間(分)</th>
      <th scope="col">研修時間(分)</th>
      <th scope="col">勤務時間(分)</th>
      <th scope="col">休憩時間(分)</th>
      <th scope="col">交通費</th>
      <th scope="col">その他</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |events| %>
      <% if user_signed_in? && events.user_id == current_user.id %>
        <tr>
          <td><%= events.start_time.strftime("%Y-%m-%d  %H:%M") %></td>
          <td><%= events.end_time.strftime("%Y-%m-%d  %H:%M") %></td>
          <td><%= events.paperworktime %></td>
          <td><%= events.lessontime %></td>
          <td><%= events.trainingtime %></td>
          <td><%= events.worktime %></td>
          <td><%= events.breaktime %></td>
          <td><%= events.travel_expenses %></td>
          <td><%= render partial: "shares/edit_delete_btn", locals: { events: events } %></td>          
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<div class="csv">
  <% if user_signed_in? %>
    <%= link_to "CSV出力", events_path(format: :csv), class: "btn" %>
    <%= form_tag import_events_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "CSV入力" %>
    <% end %>
  <% end %>
</div>