<%= month_calendar events: @events do |date, events| %>
    <%= date.day %>

    <% events.each do |events| %>
      <% if user_signed_in? && events.id == current_user.id %>
        <div>
          <%= link_to events.title, event_path(events.id) %>
        </div>
      <% end %>
    <% end %>
    
<% end %>

<h3>各時間</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">開始時間</th>
      <th scope="col">退勤時間</th>
      <th scope="col">事務時間(分)</th>
      <th scope="col">授業時間(分)</th>
      <th scope="col">研修時間(分)</th>
      <th scope="col">勤務時間(分)</th>
      <th scope="col">休憩時間(分)</th>
      <th scope="col">交通費</th>
      <th scope="col">その他</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |events| %>
      <% if user_signed_in? && events.id == current_user.id %>
        <tr>
          <td><%= events.start_time.strftime("%Y-%m-%d  %H:%M") %></td>
          <td><%= events.end_time.strftime("%Y-%m-%d  %H:%M") %></td>
          <td><%= events.paperworktime %></td>
          <td><%= events.lessontime %></td>
          <td><%= events.trainingtime %></td>
          <td><%= events.worktime %></td>
          <td><%= events.breaktime %></td>
          <td><%= events.travel_expenses %></td>
          <td>
            <span><%= link_to '編集', edit_event_path(events.id), class: 'btn' %></span>
            <span><%= link_to '削除', event_path(events.id), method: :delete, data:{confirm: "削除してもよろしいですか？"}, class: 'btn' %></span>
          </td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @events %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">年・月</th>
      <th scope="col">事務時間</th>
      <th scope="col">授業時間</th>
      <th scope="col">研修時間</th>
      <th scope="col">勤務時間</th>
      <th scope="col">休憩時間</th>
      <th scope="col">交通費</th>
    </tr>
  </thead>
  <h3>合計</h3>
  <tbody>
    <% @events.each do |events| %>
      <% if user_signed_in? && events.id == current_user.id %>
        <tr>
          <td><%= events.created_at.strftime("%Y-%m-%d  %H:%M") %></td>  
          <td><%= @totaltime_paperworktime %></td>
          <td><%= @totaltime_lessontime %></td>
          <td><%= @totaltime_trainingtime %></td>
          <td><%= @totaltime_worktime %></td>
          <td><%= @totaltime_breaktime %></td>
          <td><%= @total_travel_expenses %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
