<%= form_with model: @event, local: true do |f| %>
  <div class="event_error">
    <% if @event.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>

    <div class="title">
      <%= f.label :title %>
      <p><%= f.text_field :title %></p>
    </div>

    <div class="start_time">
      <%= f.label :start_time %>
      <p><%= f.datetime_select :start_time %></p>
    </div>

    <div class="end_time">
      <%= f.label :end_time %>
      <p><%= f.datetime_select :end_time %></p>
    </div>

    <div class="paperworktime">
      <%= f.label :paperworktime %>
      <p><%= f.number_field	 :paperworktime %></p>
    </div>

    <div class="lessontime">
      <%= f.label :lessontime %>
      <p><%= f.number_field	 :lessontime %></p>
    </div>

    <div class="trainingtime">
      <%= f.label :trainingtime %>
      <p><%= f.number_field	 :trainingtime %></p>
    </div>


    <div class="worktime">
      <%= f.label :worktime %>
      <p><%= f.number_field	 :worktime %></p>
    </div>

    <div class="breaktime">
      <%= f.label :breaktime %>
      <p><%= f.number_field	 :breaktime %></p>
    </div>

    <div class="travel_expenses">
      <%= f.label :travel_expenses %>
      <p><%= f.number_field	 :travel_expenses %></p>
    </div>
  
    <div class="description">
    <%= f.label :description %>
      <p><%= f.text_area :description %></p>
    </div>
    
    <div class="submit">
      <%= f.submit %>
    </div>

<% end %>
